[package]
name = "mf2_i18n_core"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
readme.workspace = true
rust-version.workspace = true

[features]
default = []
std = []

[dependencies]
